name: Update

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - main
    paths:
      - 'links/**'
      - 'update.sh'
  workflow_dispatch: # 允许手动触发

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Trackers
        run: |
          chmod +x update.sh
          sh update.sh

      - name: Commit and Push
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add dist/
          
          # 检查是否有变更，有变更才提交
          if ! git diff --staged --quiet; then
            git commit -m "chore: update trackers list [skip ci]"
            git push
          else
            echo "No changes to commit"
          fi
